
*.gcda
*.plist
projects/yeyo/mikkelsbDominion/unittest4.dSYM/Contents/Resources/DWARF/unittest4
*.gcno
projects/yeyo/mikkelsbDominion/unittest3.dSYM/Contents/Resources/DWARF/unittest3
projects/yeyo/mikkelsbDominion/unittest2.dSYM/Contents/Resources/DWARF/unittest2
projects/yeyo/mikkelsbDominion/unittest1.dSYM/Contents/Resources/DWARF/unittest1
projects/yeyo/mikkelsbDominion/unittest2
projects/yeyo/mikkelsbDominion/unittest3
projects/yeyo/mikkelsbDominion/unittest4
projects/yeyo/mikkelsbDominion/unittest1
projects/yeyo/mikkelsbDominion/cardtest1
projects/yeyo/mikkelsbDominion/cardtest2
projects/yeyo/mikkelsbDominion/cardtest1.dSYM/Contents/Resources/DWARF/cardtest1
projects/yeyo/mikkelsbDominion/cardtest2.dSYM/Contents/Resources/DWARF/cardtest2
projects/yeyo/mikkelsbDominion/cardtest3
projects/yeyo/mikkelsbDominion/cardtest3.dSYM/Contents/Resources/DWARF/cardtest3
projects/yeyo/mikkelsbDominion/cardtest4
projects/yeyo/mikkelsbDominion/cardtest4.dSYM/Contents/Resources/DWARF/cardtest4
projects/yeyo/mikkelsbDominion/dominion.c.gcov
projects/yeyo/mikkelsbDominion/randomtestadventurer
projects/yeyo/mikkelsbDominion/dominion.gcno
*.gcno
projects/yeyo/mikkelsbDominion/randomtestcard1
projects/yeyo/mikkelsbDominion/randomtestadventurer.dSYM/Contents/Resources/DWARF/randomtestadventurer
projects/yeyo/mikkelsbDominion/testDrawCard
projects/yeyo/mikkelsbDominion/testDrawCard.gcno
projects/yeyo/mikkelsbDominion/randomtestcard2
projects/yeyo/mikkelsbDominion/randomtestcard1.dSYM/Contents/Resources/DWARF/randomtestcard1
projects/yeyo/mikkelsbDominion/randomtestcard2.dSYM/Contents/Resources/DWARF/randomtestcard2

*.gcov

*.o

projects/yeyo/dominion/randomtestadventurer

projects/yeyo/dominion/randomtestadventurer.dSYM/Contents/Resources/DWARF/randomtestadventurer

projects/yeyo/dominion/randomtestcard1

projects/yeyo/dominion/randomtestcard1.dSYM/Contents/Resources/DWARF/randomtestcard1

projects/yeyo/dominion/randomtestcard2

projects/yeyo/dominion/randomtestcard2.dSYM/Contents/Resources/DWARF/randomtestcard2

projects/yeyo/dominion/playdom

projects/yeyo/dominion/playdom.dSYM/Contents/Resources/DWARF/playdom

projects/yeyo/mikkelsbDominion/playdom

projects/yeyo/mikkelsbDominion/playdom.dSYM/Contents/Resources/DWARF/playdom

projects/yeyo/mikkelsbDominion/playdom.dSYM/Contents/Resources/DWARF/playdom
